{% extends 'base.html.twig' %}

{% block title %}Page Recherche
{% endblock %}


{% block body %}


	<style>
		.card {
			display: none;
		}
	</style>
	<h1>Recherche page</h1>

	<div class="input-group input-group-lg">
		<span class="input-group-text">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewbox="0 0 16 16">
				<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
			</svg>
		</span>
		<input id="search" type="text" class="form-control" placeholder="Rechercher">
	</div>

	{% for partner in partners %}
		<div class="card">
			<h2>{{partner.name}}
			</h2>
			<p>{{partner.username.email}}
			</p>
			<p>{{partner.username.phone}}
			</p>
			<p>{{partner.username.description}}
			</p>
			<button>
				<a style="text-decoration: none;" href="{{path('app_view_partner', {'id':partner.id})}} ">Voir page partenaire</a>
			</button>
		</div>
	{% endfor %}


	{% for structure in structures %}
		<div class="card">
			<h2>{{structure.adress}}
			</h2>
			<p>{{structure.username.email}}
			</p>
			<p>{{structure.username.phone}}
			</p>
			<p>{{structure.username.description}}
			</p>
			<button>
				<a style="text-decoration: none;" href="{{path('app_view_structure', {'id':structure.id})}} ">Voir page structure</a>
			</button>
		</div>
	{% endfor %}


	{% block javascripts %}
		<script>


			var search = document.getElementById("search");
var card = document.querySelectorAll(".card");

search.addEventListener("keyup", (e) => {
  const searchedLetters = e.target.value;
  console.log(searchedLetters);
  filtreElement(searchedLetters, card);
});

function filtreElement(letters, elements) {
  if (letters.length > 1) {
    for (let i = 0; i < elements.length; i++) {
      if (elements[i].textContent.toLowerCase().includes(letters)) {
        elements[i].style.display = "block";
      } else {
        elements[i].style.display = "none";
      }
    }
  }
}

		</script>
	{% endblock %}
{% endblock %}
